<h1 class="title">{{ name }}
  <span>Age Pay {{age * price > 1000 ? 'wow':'hmm'}}</span>
  <span>the creators are {{ creators.name}}</span>
  <span>Greetings {{sayHi()}}</span>
</h1>
<div>
  <p class="showcase-info">Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Quasi fugit quaerat consequatur, ab nemo modi maxime tenetur enim pariatur adipisci eos neque! Tenetur,
    pariatur cupiditate? Nisi sapiente iure vitae optio?</p>
    <p class="showcase-info">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quasi fugit quaerat consequatur, ab nemo modi maxime tenetur enim pariatur adipisci eos neque! Tenetur,
     pariatur cupiditate? Nisi sapiente iure vitae optio?</p>
     <p class="showcase-info">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quasi fugit quaerat consequatur, ab nemo modi maxime tenetur enim pariatur adipisci eos neque! Tenetur,
     pariatur cupiditate? Nisi sapiente iure vitae optio?</p>
  </div>
    
    <div>
      <input [(ngModel)]='username' name='username' type="text" placeholder="Enter name">
      <p>You entered name as {{ username }}</p>
    </div>

    <app-home> </app-home>
    <app-showcase> </app-showcase>