<!-- ngIf Directive-->
<h1>Showcase List - Structural Directives</h1>
<div class="content-section" *ngIf="token.length > 1 ? true:false">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Dolore velit molestias quasi sunt? Quo eveniet molestiae 
         blanditiis quas eos commodi temporibus aspernatur magni
          officiis harum a, dicta doloribus atque rerum.
    </p>
</div>

<!-- ngFor Directive -->
<div class="list-section">

    <!-- display all the marks -->
    <div class="marks-container" *ngFor="let mark of marks">
        <p>Marks =  {{mark}}</p>
    </div>

    <!-- List of users-->
    <div class="user-container">
        <div class="user-item" *ngFor="let user of users">
            <p>Username : {{user.username}}</p>
            <p>Age : {{user.age}}</p>
            <p>Gender : {{user.gender}}</p>
            <p>Profession : {{user.profession}}</p>
        </div>


        
    </div>
</div>

