<!-- ngIf Directive-->
<div class="content-section" *ngIf="showAboutShowcase">
    <h1>About Showcase List</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Dolore velit molestias quasi sunt? Quo eveniet molestiae
        blanditiis quas eos commodi temporibus aspernatur magni
        officiis harum a, dicta doloribus atque rerum.
    </p>
</div>
<!--ngFor Directive -->
<div *ngIf="showShowcaseList" class="list-section">
    <!-- List of users-->
    <h1>Showcase - User List</h1>
    <div class="user-container">
        <div class="user-item" *ngFor="let user of users">
            <p>Username : {{user.username}}</p>
            <p>Age : {{user.age}}</p>
            <p>Gender : {{user.gender}}</p>
            <p>Profession : {{user.profession}}</p>
        </div>

    </div>
</div>